@-ms-viewport{
  width: device-width;
  height: device-height;
}

html { font-size: 62.5%; }

body { font-size: 1.6rem; }

.header-text-container {
  text-align: center;
}

h1.header {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 6.0vw;
  margin: 0;
  padding: 0;
}

h2.header {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3.5vw;
  font-weight: 200;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
}

.header-border {
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.85);
  height: 0;
  width: 90%;
  max-width: 940px;
  
  display: inline-block;
  margin: 0 auto;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.topslider {
  height: 560px;
  width: 100%;
  background-image: url("/assets/images/fightcamp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

body {
  margin: 0;
  padding: 0;
}

.header-container {
  width: 100%;
  min-width: 980px;
  display: block; 
  margin-block-start: 2em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.button {
  padding: 0 10px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 4vw;
  font-weight: 200;
  color: black;
  text-decoration: none;
}

.blue-container {
  background-color: rgb(52, 63, 125);
  margin: auto;
  padding-top: 120px;
  padding-bottom: 20px;
}

.about-container {
  //text-align: left;
  text-align: center;
  color: white;
  padding-bottom: 60px;

  h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
  }

  h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
  }

  p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
    font-size: 15px;
  }
}

.join-container {
  margin: auto;
  text-align: center;
  color: white;
  padding-bottom: 60px;

  h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
  }

  h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
  }

  p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
    font-size: 15px;
  }
}


@media only screen and (min-width: 1024px) {
  h1.header {
    font-size: 4.0rem;
  }
  
  h2.header {
    font-size: 1.5rem;
  }

  .button {
    font-size: 1.4rem;
  } 
}

.row {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: center;
}

.centered {
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: center;
}

.team-image {
  width:100%;
  height: 333px;
  object-fit: cover;
}
/* Three columns side by side */
.column {
  float: left;
  width: 25.0%;
  margin-bottom: 16px;
  padding: 0 8px;

  .title {
    color: grey;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
  }
  p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
  }
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

.meet-the-team {
  content: "";
  clear: both;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;

  h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-align: center;
  }
}

.connect {
  clear: both;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;

  h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-align: center;
  }
}

/* Clear floats */
.team-row {
  content: "";
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}





// Social Media Buttons
.fa {
  padding: 20px;
  font-size: 30px !important;
  width: 30px !important;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 20px;
}