.main-nav {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    .nav-item {
        padding: 0 10px;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: white;
        text-decoration: none;
    }
}
