---
---

@-ms-viewport{
    width: device-width;
    height: device-height;
}

* {
    box-sizing: border-box;
}

html { font-size: 62.5%; }

body { font-size: 1.6rem; }

.articles-container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article-link-container {
    display: block;
    text-decoration: inherit;
    color: inherit;
}

.article {
    background-color: rgb(241, 243, 245);
    width: 100%;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 15px 15px 15px;
	display: flex;

    .title {
        color: grey;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
    }

    .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
    }

    .button:hover {
        background-color: #555;
    }

    p {
        font-size: 17px;
        color: #405261;
        line-height: 1.5em;
        min-height: 50px;
    }
}

.article-content {
    text-align: center;
    padding: 7px 45px 11px;
}

.article-column:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card {
    span {
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 10.5px;
        color: #93a1b0;
        display: block;
        letter-spacing: 1.0px;
        text-transform: uppercase;
        margin-bottom: 2px;
    }
    p {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 500;
        font-size: 17px;
    }
}

.article-image {
    width: 100%;
    height: 250px;
    /*object-fit: contain;*/
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}

@media all and (min-width: 50em) {
    .article {
      width: 45%;
    }

    .articles-container {
        width: 100%;
    }
  }
  @media all and (min-width: 71.5em) {
    .article {
      width: 30.3%;
    }

    .articles-container {
        max-width: 1280px;
    }
  }