---
---

@-ms-viewport{
    width: device-width;
    height: device-height;
}

* {
    box-sizing: border-box;
}

html { font-size: 62.5%; }

body { 
    margin: 0;
    padding: 0;
    font-size: 1.6rem; 
}


.featured-article-container {
    margin-bottom: 20px!important;
    background-color: rgb(52, 63, 125);
    width: 100%;
    height: 450px;
  
    .content {
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      max-width: 1280px;
      padding-left: 4%;
      transition: padding .2s;
      transition-property: padding;
      transition-duration: 0.2s;
      transition-timing-function: ease;
      transition-delay: 0s;
      display: flex;
      align-items: center;
      height: 424px;
  
      .title {
        max-width: 53%;
        margin-top: 100px;
  
        h1 {
          font-family: 'Oswald', sans-serif;
          font-size: 44px;
          margin: 0 0 24px;
          font-weight: 500;
          line-height: 1.2em;
          color: #fff;
        }

        span {
            font-family: 'Oswald', sans-serif;
            font-weight: 500;
            font-size: 13.0px;
            color: white;
            letter-spacing: 1.0px;
            line-height: 1.6em;
            opacity: 0.75;
            margin: 8px 0;
        }
      }
    }
  }

  .logo {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .post-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    .text-content {
      display: flex;
      flex-direction: column;
      margin-left: 15px;
    }
  }


.articles-container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article-link-container {
    display: block;
    text-decoration: inherit;
    color: inherit;
}

.article {
    background-color: rgb(241, 243, 245);
    width: 100%;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 15px 15px 15px;
	display: flex;

    .title {
        color: grey;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
    }

    p {
        font-size: 17px;
        color: #405261;
        line-height: 1.5em;
        min-height: 50px;
    }
}

nav {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.nav-item {
    padding: 0 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-decoration: none;
  }

.article-content {
    text-align: center;
    padding: 7px 45px 11px;
}

.article-column:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card {
    span {
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 10.5px;
        color: #93a1b0;
        display: block;
        letter-spacing: 1.0px;
        text-transform: uppercase;
        margin-bottom: 2px;
    }
    p {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 500;
        font-size: 17px;
    }
}

.article-image {
    width: 100%;
    height: 250px;
    /*object-fit: contain;*/
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}

@media all and (min-width: 50em) {
    .article {
      width: 45%;
    }

    .articles-container {
        width: 100%;
    }
  }
  @media all and (min-width: 71.5em) {
    .article {
      width: 30.3%;
    }

    .articles-container {
        max-width: 1280px;
    }
  }