---
---

@import "nav-bar";
@import "social";
@import "blog-header";

@-ms-viewport{
    width: device-width;
    height: device-height;
}

* {
    box-sizing: border-box;
}

html { font-size: 62.5%; }

body { 
  margin: 0;
  padding: 0;
  font-size: 1.6rem; 
  background-color: #f2f2f2;
}

.article-container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
}

.social-buttons {
    clear: both;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 15px;
}

.article {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 100%;
    border-radius: 4px 4px 4px 4px;
    display: flex;

    .title {
        color: grey;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
    }

    .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
    }

    .button:hover {
        background-color: #555;
    }

    p {
        font-size: 17px;
        color: #405261;
        line-height: 1.5em;
    }
}

.card {
    padding: 7px 45px 11px;
    word-wrap: break-word;
    max-width: 100%;
    span {
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 10.5px;
        color: #93a1b0;
        display: block;
        letter-spacing: 1.0px;
        text-transform: uppercase;
        margin-bottom: 2px;
    }
    p {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 500;
        font-size: 17px;
        word-wrap: break-word;
    }

    img {
      max-width: 95%;
    }
}

@media all and (min-width: 50em) {
    .article-container {
      flex-direction: column-reverse;
    }
    .social-buttons {
      flex-direction: row;
    }
    .article {
      margin: 15px 15px 15px 15px;
      max-width: 95%;
    }
  }
  @media all and (min-width: 1600px) {
    .article-container {
      flex-direction: row;
    }

    .article {
        max-width: 1280px;
        margin: 15px 15px 15px 15px;
    }

    .social-buttons {
      flex-direction: column;
      justify-content: unset;
    }

    .card {
      max-width: 800px;
      margin: auto;
    }
  }