---
---

@import "nav-bar";
@import "social";

@-ms-viewport{
    width: device-width;
    height: device-height;
}

* {
    box-sizing: border-box;
}

html { font-size: 62.5%; }

body { 
  margin: 0;
  padding: 0;
  font-size: 1.6rem; 
  background-color: #f2f2f2;
}

.header-container {
  width: 100%;
  /*min-width: 980px;*/
  display: block;
  margin-bottom: 5px;

  h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 4.0rem;
    margin: 0;
    padding: 0;
  }

  h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
    padding: 0;
    letter-spacing: normal;
  }

  .border {
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.85);
    height: 0;
    width: 90%;
    max-width: 940px;
    
    display: inline-block;
    margin: 0 auto;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }

  nav {
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: baseline;

    .main {
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
      font-size: 3.0rem;
      margin: 0;
      padding: 0;

      //color: #556575;
      color: black;
      text-decoration: none;
    }
  }
}

.button {
  padding: 0 10px;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.4285;
  font-weight: 600;
  color: #556575;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  
}

.header-text-container {
  text-align: center;
}

.logo-container {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background-color: rgb(52, 63, 125);
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;

  .content {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 4%;
    transition: padding .2s;
    transition-property: padding;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    display: flex;
    align-items: center;
    height: 424px;
    justify-content: space-between;
    flex-direction: column;

    .title {
      margin: 8px 8px 8px 8px;
      max-width: 100%;

      h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 44px;
        margin: 0 0 24px;
        font-weight: 500;
        line-height: 1.2em;
        color: #fff;
      }
    }
  }
}

.article-header-image {
  height: 250px;
  object-fit: contain;
  margin-right: 50px;
  margin-bottom: 20px;
  max-width: 70%;
  /*object-fit: cover;*/
}

.post-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .text-content {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }
}

.author {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 16.0px;
  color: white;
  display: block;
  letter-spacing: 1.0px;
  margin-bottom: 4px;
}

.date {
  font-size: 13.0px;
  color: white;
  margin-bottom: 2px;
  font-style: italic;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.article-container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
}

.social-buttons {
    clear: both;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.article {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 100%;
    border-radius: 4px 4px 4px 4px;
    display: flex;

    .title {
        color: grey;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
    }

    .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
    }

    .button:hover {
        background-color: #555;
    }

    p {
        font-size: 17px;
        color: #405261;
        line-height: 1.5em;
        min-height: 50px;
    }
}

.card {
    padding: 7px 45px 11px;
    word-wrap: break-word;
    max-width: 100%;
    span {
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 10.5px;
        color: #93a1b0;
        display: block;
        letter-spacing: 1.0px;
        text-transform: uppercase;
        margin-bottom: 2px;
    }
    p {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 500;
        font-size: 17px;
        word-wrap: break-word;
    }

    img {
      max-width: 95%;
    }
}

@media all and (min-width: 50em) {
    .article-container {
      flex-direction: column-reverse;
    }
    .social-buttons {
      flex-direction: row;
    }
    .article {
      margin: 15px 15px 15px 15px;
      max-width: 95%;
    }

    .header {
      margin-bottom: 20px!important;
    }

    .header .content {
      flex-direction: row;
    }

    .header .content .title {
      max-width: 43%;
    }
  }
  @media all and (min-width: 1600px) {
    .article-container {
      flex-direction: row;
    }

    .article {
        max-width: 1280px;
        margin: 15px 15px 15px 15px;
    }

    .social-buttons {
      flex-direction: column;
    }

    .header {  
      height: 450px;
      margin-bottom: 20px!important;
    }

    .header .content {
      flex-direction: row;
    }

    .header .content .title {
      max-width: 43%;
    }
  }