<!doctype html>
<html lang="en">

<head>
  {% include head.html %}
  <link rel="stylesheet" href="/assets/css/blog.css">
  <title>{{ page.title }}</title>
</head>

<body>

  <div class="articles-container">
        <div class="article">
          <a href="/blog/" class="article-link-container">
          <div class="card">
            <img src="/assets/images/shanee.jpg" alt="Shanee Nishry" class="article-image"/>
            <div class="article-content">
              <p>
                <span>Category</span>
                How To Point A Sword At The Camera</p>
            </div>
          </div>
          </a>

      </div>
      
      
        <div class="article">
          <div class="card">
            <img src="/assets/images/kate.jpg" alt="Kate Jeffreys" class="article-image"/>
            <div class="article-content">
              <p>
                <span>Category</span>
                How To Wear A Fencing Mask</p>
            </div>
          </div>
        </div>
      
      
        <div class="article">
          <div class="card">
            <img src="/assets/images/elizabeth.jpg" alt="Elizabeth Champion" class="article-image"/>
            <div class="article-content">
              <p><span>Category</span>
                How To Find Amazing Photo Backgrounds</p>
            </div>
          </div>
        </div>

      
      <div class="article">
        <a href="/blog/" class="article-link-container">
        <div class="card">
          <img src="/assets/images/shanee.jpg" alt="Shanee Nishry" class="article-image"/>
          <div class="article-content">
            <p>
              <span>Category</span>
              How To Point A Sword At The Camera</p>
          </div>
        </div>
        </a>
      </div>
    
      
      <div class="article">
        <div class="card">
          <img src="/assets/images/kate.jpg" alt="Kate Jeffreys" class="article-image"/>
          <div class="article-content">
            <p>
              <span>Category</span>
              How To Wear A Fencing Mask</p>
          </div>
        </div>
      </div>
    
      
      <div class="article">
        <div class="card">
          <img src="/assets/images/elizabeth.jpg" alt="Elizabeth Champion" class="article-image"/>
          <div class="article-content">
            <p><span>Category</span>
              How To Find Amazing Photo Backgrounds</p>
          </div>
        </div>
  </div>
    
  </div>
  
</body>
</html>