<!doctype html>
<html lang="en">

<head>
  {% include head.html %}
  <link rel="stylesheet" href="/assets/css/blog.css">
  <title>{{ page.title }}</title>
</head>

<body>

  <div class="featured-article-container">
    <!--a href="/"><img class="logo" src="/assets/images/logo_200.png" alt="Stratford Swords Logo"/></a-->
    <div class="content">
      <div class="title">
        <span>Latest Article</span>
        <h1>Newest Article</h1>
      </div>
    </div>

    {% include nav-bar.html %}
  </div>

  <div class="articles-container">
    {% for post in site.posts %}
      {% include article_card.html link=post.url image=post.image image-alt=post.image-alt category=post.category title=post.title %}
    {% endfor %}
  </div>
  
</body>
</html>