<!doctype html>
<html lang="en">

<head>
  {% include head.html %}
  <link rel="stylesheet" href="/assets/css/post.css">
  <title>{{ page.title }}</title>
</head>

<body>

  <div class="header">
    <div class="content">
      <div class="title">
        <h1>{{ page.title }}</h1>
        <div class="post-info-container">
          <img src="{{ page.avatar }}" class="avatar">
          <div class="text-content">
            <span class="author">{{ page.author }}</span>
            <span class="date">{{ page.date | date_to_long_string }}</span>
          </div>
        </div>
      </div>
      <img src="{{ page.image }}" class="article-header-image">
    </div>
    
    {% include nav-bar.html %}
  </div>

  <div class="article-container">
    <div class="social-buttons">
      <a href="https://www.facebook.com/StratfordSwords" class="fa fa-facebook"></a>
      <a href="https://twitter.com/StratfordSwords" class="fa fa-twitter"></a>
      <a href="https://www.instagram.com/stratfordswords/" class="fa fa-instagram"></a>
    </div>
    <div class="article">
        <div class="card">
            {{ content }}
          </div>
        </div>
      </a>
    </div>
  </div>
    
  
</body>
</html>